#title{
    width: 80%;
    margin: 0 auto;
}

#heading1{
    text-align: center;
    border-bottom: solid grey 1px;
    padding: 0 10% 0 10%;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.container{
   
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
}

.submit-btn{
    margin: 20px auto;
    width: 30%;
}


#hide{
    display: none;
}

.modal-body{
    height: 400px;
    width: 300px;
    margin: 0 auto;
}
#friendPicture {
    align-content: center;
    max-height: 100%;
    max-width: 100%;
}
.modal-header{
    margin: 0 auto;
}

.hide {
    display: none;
}

.fadein {
    -webkit-animation: textFade2 1s;
}

@keyframes textFade2 {
    from {opacity: 0;}
    to {opacity: 1;}
}