<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/def7656fac.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Fight Club Finder</title>
</head>

<body>
    <div class="jumbotron" id="title">
        <h1 id="heading1"> <i class="fas fa-user-friends"></i> Friend Finder</h1>
        <div id="heading2">
            <div id="heading2">
                </br>
                <h3>
                    Please fill out the survey below so we can match you with like-minded people.
                </h3>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Survey Questions</h2>
        <hr>
        <h3 id="basicInfo"><strong>Basic Info</strong> </h3>
        <h4>Your Name (required)</h4>
        <input type="text" id="name" class="form-control" required>
        <h4>Link to Photo Image (Required)</h4>
        <input type="text" id="photo" class="form-control" required>
        <hr>

        <h3><strong>Question 1</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q1">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
        <div class="hide">
        <h3><strong>Question 2</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q2" class="hide">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 3</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q3" >
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 4</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q4">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>

    </div>
    <div class="hide">
        <h3><strong>Question 5</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q5">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 6</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q6">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 7</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q7">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 8</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q8">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 9</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q9">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
    <div class="hide">
        <h3><strong>Question 10</strong></h3>
        <h4>Your mind is always buzzing with unexplored ideas and plans.</h4>

        <select id="q10">
            <option>Select an option</option>
            <option>1 (strongly disagree)</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5 (strongly agree)</option>
        </select>
    </div>
        <br>
        <button type="button" class="btn btn-secondary submit-btn close" data-toggle="modal"
            data-target="#exampleModal"><strong>submit</strong>
        </button>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Please fill out the whole survey to get your next Fighter</h5>

                </div>
                <div class="modal-body" id="tableList">
                    <img id="friendPicture">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   
                </div>
            </div>
        </div>
    </div>



</body>

</html>

<script>
    
    $(".submit-btn").on("click", function (event) {
        event.preventDefault();

        var personalInfo = {

            q1: $("#q1").val().charAt(0),
            q2: $("#q2").val().charAt(0),
            q3: $("#q3").val().charAt(0),
            q4: $("#q4").val().charAt(0),
            q5: $("#q5").val().charAt(0),
            q6: $("#q6").val().charAt(0),
            q7: $("#q7").val().charAt(0),
            q8: $("#q8").val().charAt(0),
            q9: $("#q9").val().charAt(0),
            q10: $("#q10").val().charAt(0),

        }
      


        var index;
        var userAnswerValues = Object.values(personalInfo);
        var testArray = [];
        var element;
        var bestFriend;
        var inputData = {
            name: $("#name").val(),
            photo: $("#photo").val(),
            scores: userAnswerValues
        }


        judgeFriendsAjax();

        function judgeFriendsAjax() {
            console.log(inputData.scores);
            console.log(userAnswerValues);
            $.ajax({
                    url: "/api/friend", 
                    method: "GET"
                })
                .then(function (tableData) {
                    console.log(tableData);
                    console.log("------------------------------------------");

                    for (var i = 0; i < tableData.length; i++) {

                        let scores = [];

                        for (let j = 0; j < tableData[i].scores.length; j++) {
                            
                            let score = tableData[i].scores[j] - userAnswerValues[j];
                            scores.push(Math.abs(score));

                        }


                        testArray.push(scores.reduce(addingArray));
                        console.log(scores.reduce(addingArray))
                        console.log(testArray);



                    }

                    function findTheBestFriend() {
                        console.log("I am working")
                        var element = 50;
                        for (var i = 0; i < testArray.length; i++) {
                            if (testArray[i] < element) {
                                element = testArray[i];
                                index = i;
                            }
                        }
                        var answer = tableData[index];
                        $(".modal-header").text(answer.name)
                        $("#friendPicture").attr("src", answer.photo)
                        $("#friendPicture").addClass("img-sizer")
                        console.log(answer.name);
                        console.log(answer.photo);
                        console.log(answer.scores);
                    }
                    findTheBestFriend();

                    console.log(inputData);

                    $.post(
                        "/api/friend", inputData,
                        function (data) {
                            
                            console.log("success!!");
                            console.log(JSON.stringify(data))

                        })
                        clearIt();
                        function clearIt(){
                            console.log("iVE BEEN HIT");
                        $("#name").val("");
                        $("#photo").val("");
                        $("#q1").val("Select an option");
                        $("#q2").val("Select an option");
                        $("#q3").val("Select an option");
                        $("#q4").val("Select an option");
                        $("#q5").val("Select an option");
                        $("#q6").val("Select an option");
                        $("#q7").val("Select an option");  
                        $("#q8").val("Select an option");                     
                        $("#q9").val("Select an option");
                        $("#q10").val("Select an option");
                        }
                        // the end of the .then is here all things requiring the database are put before this point.
                })




        }

        function addingArray(total, num) {
            return total + num;
        }




    });
</script>